<div class="container w-50 p-5 mt-5 mb-5">
    <form class="mx-1 mx-md-4 w-100" (ngSubmit)="Login()">
          <!-- User Nme input -->
        <div class="form-group">
            <label>User Name</label>
            <input type="text" required [class.is-invalid]="name.invalid&&name.touched"  [(ngModel)]="userModel.username" name="txtName" #name="ngModel" class="form-control"> 
            <small class="text-danger" *ngIf="name.invalid&&name.touched">User name is required</small>
        </div>
        
          <!-- Password input -->
        <div class="forrm-group">
            <label>Password</label>
            <input type="password" required name="password" [class.is-invalid]="password.invalid&&password.touched" pattern="^\d{11}$" [(ngModel)]="userModel.password" #password="ngModel"  class="form-control">
            <div *ngIf="password.errors&&password.touched">
                <small class="text-danger" *ngIf="password.errors['required']">Password is required</small>
                <small class="text-danger" *ngIf="password.errors['pattern']">Password must be 11 digits</small>
            </div>
        </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4 mt-2">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
            <!-- <p>or sign up with:</p> -->
            
          </div>
        </form>
  </div>